@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: #d1d5db transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.react-calendar{
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
  font-weight: 600;
}

.react-calendar__tile--active{
  background-color: #C3EBFA !important;
  color: black !important;
}