@import "tailwindcss";

/* Global Tailwind styles */
@theme {
  --color-sky-custom: #C3EBFA;
  --color-sky-light-custom: #EDF9FD;
  --color-purple-custom: #CFCEFF;
  --color-purple-light-custom: #F1F0FF;
  --color-yellow-custom: #FAE27C;
  --color-yellow-light-custom: #FEFCE8;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: #d1d5db transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.react-calendar{
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
  font-weight: 600;
}

.react-calendar__tile--active{
  background-color: #C3EBFA !important;
  color: black !important;
}